<!DOCTYPE html>
<!--code, name, open, high, low, close-->
<html lang="en">
<head>
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Not found</title>
    <link rel="stylesheet" type="text/css" href="./static/notfound.css">
</head>
<body>
<div>
    <img src="static/404.png">
</div>
<div id="text">
<p>Cant find the stock in database, To fix you can hire me , or contact Zerodha, they are good at it :p :-</p>
<p>Mail me at : alpitanand20@gmail.com</p>
    </div>
</body>
</html>